@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "MontserratCustom";
    src: url("../public/fonts/Montserrat-Regular.ttf") format("ttf");
    font-weight: regular;
    font-style: regular;
}

@font-face {
    font-family: "MontserratCustom";
    src: url("../public/fonts/Montserrat-Bold.ttf") format("ttf");
    font-weight: bold;
    font-style: bold;
}

@layer components {
    .font-montserrat {
        font-family: "MontserratCustom", sans-serif;
    }

    .btn {
        @apply flex gap-2 w-fit text-white bg-primary-default hover:bg-primary-dark focus:ring-4 focus:outline-none focus:ring-primary-light font-bold rounded text-base px-4 py-2 text-center;
    }

    .custom-gradient {
        mask-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 0)
        );
    }
}

body {
    @apply font-montserrat;
}

* {
    transition: all 0.3s;
}

.list-disc li::marker {
    @apply text-primary-default text-lg;
}

.no-animation {
    opacity: 0;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInLeft {
    animation-name: fadeInLeft;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInRight {
    animation-name: fadeInRight;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
    }
}